body{
	margin: 0;
	padding: 0;
	background-color: #85C1E9;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;	
	font-family: sans-serif;
}

